/build

proguard-rules.pro

/src/androidTest/java/com/example/aaron/testapplication/ApplicationTest.java
/src/main/res/values-w820dp/dimens.xml
/src/test/java/com/example/aaron/testapplication/ExampleUnitTest.java
